@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');


body{
    background-color: gold;
    color: darkblue;
font-family: "Chelsea Market", system-ui;
}

.cabecalho{
background-color: darkgreen;
text-align: center;
padding: 30px;
font-size: 26px;
}
img{
  width: 410px;
  height: 410px;
}
main{
    color:blue;
    max-width:800px;
    margin: 0 auto;
    padding:16px;
}
article{
    display:flex;
    background-color:darkgreen;
    align-items: center;
    padding:24px;
}